<!DOCTYPE html>
<html>
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
    <style>
        body {
            padding-top: 30px;
        }
    </style>

    <!-- JS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//code.angularjs.org/1.4.9/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script>
    <script src="assets/js/app.js"></script>
</head>
<body ng-app="guestbookApp">
<div class="container">
    <div class="col-lg-12 page-header"><h1>Simple guestbook</h1></div>

    <div ng-controller="formController" class="col-lg-12">
        <div id="messages" class="alert alert-success" ng-show="message">{{ message }}</div>
        <div id="errors" class="alert alert-danger" ng-show="errorForm">{{ errorForm }}</div>

        <form name="postForm" ng-submit="submitForm(postForm.$valid)" novalidate>
            <div class="form-group"
                 ng-class="{ 'has-error' : postForm.user.$invalid && !postForm.user.$pristine }">
                <label>Name*</label>
                <input type="text" name="user" class="form-control" ng-model="post.user" required>
                <p ng-show="postForm.user.$invalid && !postForm.user.$pristine" class="help-block">You name is
                    required.</p>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error' : postForm.content.$invalid && !postForm.content.$pristine }">
                <label>Content*</label>
                <textarea name="content" class="form-control" ng-model="post.content" required></textarea>
                <p ng-show="postForm.content.$invalid && !postForm.content.$pristine" class="help-block">Enter
                    content.</p>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>

    <div ng-controller="listController" class="col-lg-12" style="padding-top: 15px">
        <div ng-repeat="post in posts">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{ post.user }}</b> at {{ post.created }}
                </div>
                <div class="panel-body" ng-bind-html="post.content | rawHtml"></div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
